<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>{{User["name"]}}</title>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
        <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css" />
    </head>

    <body id="page-top">
        <div id="wrapper">
            <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
                <div class="container-fluid d-flex flex-column p-0">
                    <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="../index.html">
                        <div class="sidebar-brand-icon rotate-n-15"></div>
                        <div class="sidebar-brand-text mx-3"><span>ivpecherskiy</span></div>
                    </a>
                    <hr class="sidebar-divider my-0" />
                    <ul class="navbar-nav text-light" id="accordionSidebar">
                        <li class="nav-item">
                            <a class="nav-link" href="Users.html"><i class="fas fa-table"></i><span>Пользователи</span></a>
                            {% if User["Zulip"]["channels"] > 0 %}
                            <a class="nav-link" href="#Zulip"><i class="fas fa-tachometer-alt"></i><span>Статистика Zulip</span></a>
                            {% endif %}
                            {% if User["Jitsi"]["rooms"] > 0 %}
                            <a class="nav-link" href="#Jitsi"><i class="fas fa-tachometer-alt"></i><span>Статистика Jitsi</span></a>
                            {% endif %}
                            {% if User["GitLab"]["commits"] > 0 %}
                            <a class="nav-link" href="#GitLab"><i class="fas fa-tachometer-alt"></i><span>Статистика GitLab</span></a>
                            {% endif %}
                            {% if User["Taiga"]["userstories"] > 0 %}
                            <a class="nav-link" href="#Taiga"><i class="fas fa-tachometer-alt"></i><span>Статистика Taiga</span></a>
                            {% endif %}
                        </li>
                        <li class="nav-item"></li>
                    </ul>
                    <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
                </div>
            </nav>
            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                        <div class="container-fluid">
                            <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                            <ul class="navbar-nav flex-nowrap ms-auto">
                                <li class="nav-item dropdown no-arrow">
                                    <div class="nav-item dropdown no-arrow">
                                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                            <span class="d-none d-lg-inline me-2 text-gray-600 small">{{User["name"]}}</span><img class="border rounded-circle img-profile" src="{{User["avatar"]}}">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="container-fluid">
                        <div class="d-sm-flex justify-content-between align-items-center mb-4">
                            <h3 class="text-dark mb-0">Печерский Иван Васильевич БИВ211 {{User["gen"]}}</h3>
                        </div>
                        {% if User["Zulip"]["channels"] > 0 %}
                        <div id="Zulip" class="d-sm-flex justify-content-between align-items-center mb-4">
                            <h3 class="text-dark mb-0">Статискика Zulip для пользователя {{User["name"]}}</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Всего каналов</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["Zulip"]["channels"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-inbox fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Всего сообщений</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["Zulip"]["all"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Среднее кол-во сообщений</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["Zulip"]["avg"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-comment fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Любимый канал</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["Zulip"]["fav"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-star fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-xl-8">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Статискика сообщений</h6>
                                    </div>
                                    {{User["Zulip"]["MsgsPlot1"]}}
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Сообщения</h6>
                                    </div>
                                    {{User["Zulip"]["MsgsPie"]}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-xl-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">График сообщений</h6>
                                    </div>
                                    {{User["Zulip"]["MsgsPlot2"]}}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if User["Jitsi"]["rooms"] > 0 %}
                        <div id="Jitsi" class="d-sm-flex justify-content-between align-items-center mb-4">
                            <h3 class="text-dark mb-0">Статискика Jitsi для пользователя {{User["name"]}}</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Всего посещённых комнат</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["Jitsi"]["rooms"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-phone fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Среднее время нахождения в комнате в минутах</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["Jitsi"]["avg"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-hourglass fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Всего минут в комнатах</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["Jitsi"]["all"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-hourglass-end fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Любимая комната</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["Jitsi"]["fav"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-star fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-xl-8">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Статискика занятий</h6>
                                    </div>
                                    {{User["Jitsi"]["RoomsPlot1"]}}
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Занятия</h6>
                                    </div>
                                    {{User["Jitsi"]["RoomsPie"]}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-xl-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">График занятий</h6>
                                    </div>
                                    {{User["Jitsi"]["RoomsPlot2"]}}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if User["GitLab"]["commits"] > 0 %}
                        <div id="GitLab" class="d-sm-flex justify-content-between align-items-center mb-4">
                            <h3 class="text-dark mb-0">Статискика GitLab для пользователя {{User["name"]}}</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Всего репозиториев</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["GitLab"]["repos"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-bars-progress fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Всего коммитов</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["GitLab"]["commits"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-code-branch fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Среднее кол-во коммитов</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["GitLab"]["avg"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-code-commit fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Среднее кол-во изменений</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["GitLab"]["total"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-arrow-right-arrow-left fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-xl-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Статискика коммитов</h6>
                                    </div>
                                    {{User["GitLab"]["CommitsPlot1"]}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-xl-12">
                                <div class="card shadow mb-8">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Репозитории</h6>
                                    </div>
                                    {{User["GitLab"]["ReposPie"]}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-xl-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">График коммитов</h6>
                                    </div>
                                    {{User["GitLab"]["CommitsPlot2"]}}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if User["Taiga"]["userstories"] > 0 %}
                        <div id="Taiga" class="d-sm-flex justify-content-between align-items-center mb-4">
                            <h3 class="text-dark mb-0">Статискика Taiga для пользователя {{User["name"]}}</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Всего проектов</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["Taiga"]["projects"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-file-lines fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Всего эпиков</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["Taiga"]["epics"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-bars-progress fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Всего пользовательских историй</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["Taiga"]["userstories"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-user fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="card shadow border-start-warning py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Всего задач</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{User["Taiga"]["tasks"]}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-list-check fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-xl-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">График задач</h6>
                                    </div>
                                    {{User["Taiga"]["Plot"]}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-xl-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Диаграмма Ганта</h6>
                                    </div>
                                    {{User["Taiga"]["GanttPlot"]}}
                                </div>
                            </div>
                        </div>
                        {% endif %}       
                    </div>
                </div>
                <footer class="bg-white sticky-footer">
                    <div class="container my-auto">
                        <div class="text-center my-auto copyright"><span>Copyright © ivpecherskiy 2022. Template SB Admin</span></div>
                    </div>
                </footer>
            </div>
            <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        </div>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/chart.min.js"></script>
        <script src="assets/js/bs-init.js"></script>
        <script src="assets/js/theme.js"></script>
    </body>
</html>
